.contactForm {
    width: 100%;
}

.contactForm form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
    box-sizing: border-box;
    margin-bottom: -100px;
}

.contactForm__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.contactForm__group .contactForm__inputWrapper {
    flex: 0.45;
    display: flex;
    flex-direction: column;
}

.contactForm__inputWrapper.message {
    display: flex;
    flex-direction: column;
}

.contactForm label {
    font-weight: 700;
    color: var(--text-light);
    font-size: 0.9rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contactForm input,
.contactForm select,
.contactForm textarea {
    height: 50px;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid var(--text-light);
    color: var(--dark);
    transition: all 0.3s ease;
    cursor: pointer;
}

.contactForm input:focus,
.contactForm select:focus,
.contactForm textarea:focus {
    outline: none;
    border-color: var(--dark);
    border-width: 3px;
}

.contactForm textarea {
    height: 200px;
    border-right: 1px solid var(--text-light);
    padding: 20px 0;
    box-sizing: border-box;
    resize: none;
}

.contactForm select option {
    font-size: 1rem;
    background-color: var(--text-white);
}

.contactForm button {
    margin-top: 80px;
    border: none;
    align-self: center;
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--dark);
    background-color: transparent;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
}

.contactForm button:active,
.contactForm button:focus {
    outline: none;
}

.contactForm button span {
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    padding: 0 20px;
}

.contactForm button span:last-child {
    position: absolute;
    opacity: 0;
}

.contactForm button:hover span:first-child {
    transform: translateY(-100%);
    opacity: 0;
}

.contactForm button:hover span:last-child {
    transform: translateY(-100%);
    opacity: 1;
}

.contactForm button:hover {
    border-left: 5px solid var(--dark);
    border-right: 5px solid var(--dark);
}

@media (max-width: 700px) {
    .contactForm form {
        padding: 100px 20px 50px;
        margin-bottom: 0;
    }

    .contactForm__group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .contactForm__inputWrapper {
        flex: 1;
        margin-bottom: 50px;
    }

    .contactForm button {
        margin-top: 10px;
    }
}
