@media (max-width: 700px) {
    .app {
        max-width: 100vw;
    }

    .responsive__hide {
        display: none;
    }

    /* Header ****************************************************************************/
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }
    .header__logoWrapper {
        width: 90px;
    }

    .header__name span.pageName {
        font-size: 1.8rem;
    }

    /* Menu ********************************************************************************/
    .menuWrapper p {
        font-size: 2rem;
    }

    /* Home ******************************************************************************/
    .home {
        background-position: top;
        height: fit-content;
    }

    .home__contentWrapper {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        width: fit-content;
        margin-top: 400px;
    }

    .home__profession {
        font-size: 3rem;
        line-height: 3rem;
    }

    /* Projects **************************************************************************/
    .projects__projectNavBtns button:first-child {
        top: -90vh;
        left: 0;
        border-right: 25px solid var(--white);
    }

    .projects__projectNavBtns button:last-child {
        top: -90vh;
        right: 0;
        border-left: 25px solid var(--white);
    }

    .projects__allProjects {
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
    }

    .projects__allProjectsHeader h2 {
        font-size: 2.5rem;
        margin-left: 10px;
        margin-right: 10px;
    }

    .projects__allProjectsHeader span {
        width: 150px;
    }

    /* Project *************************************************************************/
    .project {
        flex-direction: column;
    }

    .project__imgWrapper {
        flex: 1;
        height: 300px;
    }

    .project__imgOverlay button {
        font-size: 1rem;
    }

    .project__descWrapper {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 50px;
    }

    .project__descWrapper h2 {
        font-size: 2.5rem;
    }

    /* ProjectCard *********************************************************************/
    .projectCard {
        width: 100%;
        margin-bottom: 50px;
    }

    .projectCard__overlay h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    /* Expertise *************************************************************************/
    .expertise {
        flex-direction: column;
    }

    .expertise__expSection {
        flex: 1;
        width: 100%;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
    }

    .expertise__skillsSection {
        flex: 1;
        border-left: 30px solid var(--bg-dark-transparent);
        padding-top: 50px;
    }

    /* Skill ******************************************************************************/
    .skill:last-child {
        margin-bottom: 0;
    }

    /* About *******************************************************************************/
    .about__section {
        width: 100%;
    }

    .about__section h1,
    .about__section h2,
    .about__section h3,
    .about__section h4 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .about__section p {
        width: fit-content;
        padding-left: 20px;
        padding-right: 20px;
    }

    .about__section h1 {
        font-size: 1.8rem;
    }

    .about__section h3 {
        font-size: 1.5rem;
    }

    .about__section h4 {
        font-size: 1.2rem;
    }

    .about__intro {
        padding-top: 500px;
    }

    .about__intro h4 {
        margin-left: 20px;
    }

    .about__edu {
        padding-top: 300px;
    }

    .about__eduDate {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
    }

    .about__edu .verticalLine {
        padding-right: 20px;
    }

    .about__edu h1,
    .about__edu h2,
    .about__edu h3,
    .about__edu h4 {
        text-align: right;
    }

    .about__interests {
        padding: 50px 0;
    }

    .about__interests video {
        left: 0;
    }

    .about__interests h1,
    .about__interests h2,
    .about__interests h3,
    .about__interests h4 {
        text-align: left;
    }

    .about__interests .verticalLine {
        margin-left: 20px;
    }

    .about__closingTag {
        margin-top: 100px;
    }

    .about__closingTag h1 {
        font-size: 2.5rem;
    }

    .about__closingTag span {
        width: 150px;
    }

    /* Contact *************************************************************************/
    .contact {
        margin-top: 50px;
    }

    .contact__header h1 {
        font-size: 2rem;
        margin: 0 10px;
    }

    .contact__header span {
        width: 100px;
    }

    .contact__headerDesc {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* TreeItem **************************************************************************/
    .treeItem {
        height: 100px;
    }

    .treeItem.right:first-child {
        margin-top: 200px;
    }

    /* ContactForm ************************************************************************/
    .contactForm form {
        padding: 100px 20px 50px;
        margin-bottom: 0;
    }

    .contactForm__group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .contactForm__inputWrapper {
        flex: 1;
        margin-bottom: 50px;
    }

    .contactForm button {
        margin-top: 10px;
    }

    /* CallToAction **********************************************************************/
    .callToAction {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .callToAction h1 {
        font-size: 1.5rem;
        margin-top: 10px;
    }

    /* Footer ******************************************************************************/
    .footer {
        padding: 50px 20px;
    }

    .footer__sections {
        flex-direction: column;
    }

    .footer__section {
        flex: 1;
        margin-bottom: 50px;
    }

    .footer__section p {
        padding: 0;
    }
}
