.treeItem {
    display: flex;
    align-items: center;
    height: 200px;
    margin-top: 100px;
}

.treeItem:last-child {
    margin-bottom: 100px;
}

.treeItem__leaf {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 2rem;
    flex: 0.8;
    justify-content: flex-end;
}

.treeItem__leaf h2 {
    transition: all 0.5s ease;
}

.treeItem__leaf:hover h2 {
    letter-spacing: 8px;
}

.treeItem__leaf i {
    font-size: 4rem;
    margin: 0 20px;
}

.treeItem__branch {
    border-top: 10px solid var(--dark);
    width: 100%;
    flex: 0.2;
}

.treeItem.right:first-child {
    margin-top: 250px;
}

.treeItem__leaf.right {
    justify-content: flex-start;
    order: 2;
}

.treeItem__leaf.right h2 {
    order: 2;
}
