.changePasswordForm {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.changePasswordForm .formHeading {
    margin: 20px 0;
}

.changePasswordForm .formInput {
    margin-top: 15px;
}

.changePasswordForm .btnsWrapper {
    margin: 20px 0;
    display: flex;
}

.changePasswordForm .formBtn:first-child {
    margin-left: auto;
    margin-right: 10px;
}
