.expItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 15px;
    box-shadow: 1px 1px 3px #ddd;
    border-radius: 5px;
    position: relative;
    background-color: #fff;
}

.expItem .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.expItem .main {
    display: flex;
    justify-content: space-between;
}

.expItem .main .mainContent {
    flex: 0.5;
}

.expItem .main .subContent {
    flex: 0.5;
}

.expItem .main .withLinkWrapper {
    display: flex;
    align-items: flex-start;
}

.expItem .main .withLinkWrapper .MuiSvgIcon-root {
    margin-left: 10px;
}

.expItem .main li.withLinkWrapper::before {
    content: '✔';
}

.expItem__viewCertificate {
    position: absolute !important;
    right: 0 !important;
    bottom: 0 !important;
    padding: 10px 25px !important;
}

.expItem__viewCertificate > a {
    font-size: 1.2rem;
    color: #3f51b5;
}
