.projectForm {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.projectForm .formHeading {
    margin: 20px 0;
}

.projectForm .formInput {
    margin-top: 15px;
}

.projectForm .formGroup {
    display: flex;
    justify-content: space-between;
}

.projectForm .formGroup .formInput {
    flex: 0.45;
}

.projectForm .imageInput input {
    display: none;
}

.projectForm .imageInput {
    padding: 15px 0;
    background-color: #fff;
    font-size: 0.9rem;
    color: #3f51b5;
    border-radius: 5px;
    border: 1px solid #3f51b5;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.projectForm .imageInput:hover {
    box-shadow: none;
}

.projectForm .imageInput:active {
    box-shadow: none;
    border-width: 2px;
}

.projectForm .btnsWrapper {
    margin: 20px 0;
    display: flex;
}

.projectForm .formBtn:first-child {
    margin-left: auto;
    margin-right: 10px;
}

.projectForm .dynamicInputGroup {
    margin-top: 20px;
}

.projectForm .dynamicInputsWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.projectForm .dynamicInputsWrapper .dynamicInputWrapper {
    display: flex;
    margin-bottom: 15px;
}

.projectForm .dynamicInputsWrapper .dynamicInputWrapper .dynamicInput {
    width: 150px;
}
