.projectCard {
	width: 48%;
	margin-bottom: 70px;
	position: relative;
	height: 40vh;
}

.projectCard__img {
	width: 100%;
	height: 100%;
	transition: all 0.8s ease;
	backface-visibility: hidden;
}

.projectCard__img img {
	width: 100%;
	height: 100%;
}

.projectCard__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 20px;
	background-color: var(--bg-dark-transparent);
	transition: all 0.8s ease;
	backface-visibility: hidden;
}

.projectCard__overlay h2 {
	color: var(--white);
	font-size: 1.5rem;
	letter-spacing: 2px;
}

.projectCard__shutter {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 0;
	background-color: var(--dark);
	display: grid;
	place-items: center;
	z-index: 2;
	overflow: hidden;
	transition: all 0.3s ease;
}

.projectCard:hover .projectCard__shutter {
	height: 70%;
}

.projectCard__viewLinks {
	display: flex;
}

.projectCard__viewLinks > a {
	background-color: var(--dark);
	color: var(--text-white);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.2s ease;
	border-bottom: 2px solid transparent;
}

.projectCard__viewLinks > a:hover {
	border-color: var(--text-white);
}

.projectCard__viewLinks > span {
	margin: 0 25px;
	color: var(--white);
	font-weight: 700;
}

@media (max-width: 700px) {
	.projectCard {
		width: 100%;
		margin-bottom: 50px;
		height: 35vh;
	}

	.projectCard__overlay h2 {
		font-size: 1.5rem;
		margin-bottom: 10px;
	}
}
