.projectCard {
    width: 48%;
    margin-bottom: 70px;
    position: relative;
    height: 50vh;
}

.projectCard__img {
    width: 100%;
    height: 100%;
    transition: all 0.8s ease;
    backface-visibility: hidden;
}

.projectCard__img img {
    width: 100%;
    height: 100%;
}

.projectCard__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--bg-dark-transparent);
    transition: all 0.8s ease;
    backface-visibility: hidden;
}

.projectCard__overlay h2 {
    color: var(--text-white);
    font-size: 2rem;
    letter-spacing: 5px;
}

.projectCard__date {
    color: var(--text-white);
    display: flex;
    align-items: center;
}

.projectCard__date span:nth-child(2) {
    width: 50px;
    border-top: 3px solid var(--text-white);
    margin: 0 10px;
}

.projectCard__shutter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: var(--dark);
    display: grid;
    place-items: center;
    z-index: 2;
    overflow: hidden;
    transition: all 0.3s ease;
}

.projectCard:hover .projectCard__shutter {
    height: 70%;
}

.projectCard__shutter > a {
    background-color: var(--dark);
    color: var(--text-white);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.projectCard__shutter > a:hover {
    border-color: var(--text-white);
}
